.app-module-iterator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 25px;

  h1, h2, h3 {
    text-transform: uppercase;
  }

  h5 {
    color: var(--lp-text-secondary);
  }

  .module {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .descriptions {
      p {
        margin-bottom: 15px;
      }
    }

    h2 {
      margin-bottom: 10px;
      color: var(--lp-text-secondary);
    }

    .topics {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .topic {
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 8px;
        }

        ol, ul {
          margin-top: 10px;
        }

        li {
          margin-top: 2px
        }

        .sub-topics {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    .module-img {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .module-video {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      video {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 0 var(--lp-bg-primary), 3px 3px 0 var(--lp-bg-secondary);
      }


    }
  }
}

.ordered-list, .unordered-list {
  li {
    margin-left: 19px;
  }
}

.no-list {
  li {
    list-style: none;
  }
}
