<section class="app-module-iterator-wrapper">
    <section class="module" *ngFor="let module of modules" id="{{module.id}}">
        <h2>{{module.title}}</h2>
        <p class="module-description">{{module.description}}</p>

        <section class="topics" *ngIf="module.topics">
            <section class="topic" *ngFor="let topic of module.topics">
                <h3>{{topic.title}}</h3>
                <p>{{topic.description}}</p>

                <section [ngClass]="{'ordered-list': topics.step.'listStyles === 'ol', 'unordered-list': topic.steps.listStyles === 'ul'}">
                    <ol class="steps" *ngIf="topic.steps && topic.steps.listStyles === 'ol'">
                        <li *ngFor="let step of topic.steps" [innerHtml]="step"></li>
                    </ol>
                    <ul class="steps" *ngIf="topic.steps && topic.steps.listStyles === 'ul' || topic.steps.listStyles == ''">
                        <li *ngFor="let step of topic.steps" [innerHtml]="step"></li>
                    </ul>
                </section>

                <section class="sub-topics" *ngIf="topic.subTopics">
                    <section class="sub-topic" *ngFor="let subTopic of topic.subTopics">
                        <h3>{{subTopic.title}}</h3>
                        <p>{{subTopic.description}}</p>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>

