<mat-form-field class="search-input-wrapper">
  <mat-label>{{label}}</mat-label>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
  <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">
        <img *ngIf="option.img?.src" class="img" [src]="option.img?.src" alt="{{option.img?.alt}}" height="25">
        <span>
          {{option.name}}
        </span>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
