.app-home-wrapper {
  main {
    height: 100%;
    width: 100%;

    article {
      height: 100%;
      width: 100%;
    }
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .app-home-wrapper {
    main {
      article {
        h1 {
          font-size: 38px;
          white-space: nowrap;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .app-home-wrapper {
    main {
      article {
        h1 {
          font-size: 21px;
          white-space: normal;
        }

        h2 {
          font-size: 20px
        }

        h3 {
          font-size: 16px
        }

        p {
          font-size: 14px
        }
      }
    }
  }
}
