<section class="app-home-wrapper page">
    <app-nav-menu></app-nav-menu>
    <section class="page-content">
        <main>
            <article>
                <section class="title-container">
                    <section class="title">
                      <img src="favicon.ico" alt="LifePlan Icon" width="32" height="32">
                      <h1 class="lp-title">
                        LifePlan: Planejando seu Futuro
                      </h1>
                    </section>
                    <hr class="hr">
                </section>
                <app-module-iterator [modules]="modules"></app-module-iterator>
            </article>
        </main>
    </section>
</section>
