<section class="app-finance page">
   <app-nav-menu></app-nav-menu>
    <section class="page-content">

                <!--TITULO-->

        <section class="titulo" id="titulo">
            <h2 class="lf-title" style="font-size: 40px;">Finanças</h2>
            <section class="topics-title" id="topics-title">
                <section class="oque-e" id="oque-e">
                    <h2>Oque é:</h2>
                    <p>
                        As finanças são a gestão inteligente dos recursos financeiros, desde decisões pessoais até estratégias empresariais.
                        Elas abrangem orçamentação, investimentos, gestão de dívidas e muito mais, tanto em nível pessoal quanto corporativo.
                        Nos mercados financeiros, compreender oferta, demanda e diversificação é essencial.
                        Além disso, as finanças públicas garantem estabilidade econômica.
                        Em resumo, dominar os princípios financeiros é crucial para alcançar metas e garantir um futuro próspero.
                    </p>
                </section>
            </section>
        </section>

            <!--TAXAS E IMPOSTOS-->

        <section class="fees">
            <h2>Taxas:</h2>
            <section class="topics-fees" id="topics-fees">
                <section id="selic" class="selic">
                    <h3>Taxa SELIC:</h3>
                    <p>
                        A taxa SELIC é uma das mais conhecidas para o cálculo de investimentos, mas muitas pessoas não entendem o que ela é de fato ou como é calculada.
                        A SELIC é a taxa básica de juros e é definida pelo governo a partir de diversos fatores, como a inflação e o crescimento do país.
                        Ela é a base de cálculo para o rendimento de diversos tipos de investimento, como o Tesouro SELIC e as LCIs e LCAs. Então, quanto maior o valor dessa taxa, maior será a rentabilidade desses tipos de investimentos. <br>
                        Em tempos de crise, a SELIC costuma aumentar bastante e, por isso, muitas pessoas começam a investir em aplicações baseadas nela.
                    </p>
                </section>
                <section id="ipca" class="ipca">
                    <h3>IPCA:</h3>
                    <p>
                        O IPCA também é utilizado como base de cálculo para determinados investimentos.
                        O IPCA, ou Índice Nacional de Preços ao Consumidor Amplo, é o indicador oficial da inflação no Brasil.
                        Ele é calculado pelo IBGE e mede a variação nos preços de todos os produtos do país, a partir de grupos específicos.
                        Investimentos como o Tesouro IPCA e os CDBs usam essa taxa como base de cálculo para a rentabilidade e são bastante interessantes, uma vez que garantem que seu dinheiro renda sempre acima da inflação e, assim, não desvalorize – como acontece em aplicações como a poupança, que normalmente rendem abaixo da inflação.
                    </p>
                </section>
                <section id="di" class="di">
                    <h3>Depósito Interfinanceiro – DI:</h3>
                    <p>
                    O DI, ou Depósito Interfinanceiro, também tratado às vezes por CDI, é uma taxa de juros que representa a média de todas as taxas praticadas por instituições financeiras nas operações que são realizadas entre elas.
                    A taxa DI segue a SELIC bem de perto, mas normalmente é ligeiramente inferior a ela.
                    Portanto, na hora de investir, vale a pena seguir o mesmo critério da SELIC e avaliar se as taxas de juros estão altas ou tendem a aumentar.
                    </p>
                </section>
                <section id="b3" class="b3">
                    <h3>B3:</h3>
                    <p>
                        A B3 é a principal bolsa de valores do Brasil, onde são negociados diversos ativos financeiros, como ações, derivativos e títulos de renda fixa.
                    Sua função é fornecer infraestrutura para a negociação, estabelecendo regras e promovendo transparência no mercado.
                        A B3 desempenha um papel fundamental no desenvolvimento do mercado de capitais brasileiro, proporcionando liquidez e segurança aos investidores.
                    </p>
                </section>
            </section>
        </section>

        <section class="taxes">
        <h2>Impostos</h2>
            <section class="topics-taxes" id="topics-taxes">
                <section id="iof" class="iof">
                    <h3>IOF:</h3>
                    <p>
                        A IOF (Imposto sobre Operações Financeiras) é um imposto federal aplicado em diversas operações financeiras no Brasil.
                        Ele regula o mercado financeiro e controla o fluxo de capital.
                        Suas taxas e base de cálculo variam de acordo com o tipo de operação.
                        O governo pode ajustar as taxas para atender aos objetivos econômicos, como controle da inflação.
                    </p>
                </section>
                <section id="ir" class="ir">
                    <h3>IR:</h3>
                    <p>
                        O IR (Imposto de Renda) é um tributo aplicado sobre a renda de pessoas físicas e jurídicas no Brasil.
                            Ele incide sobre diversos tipos de ganhos, como salários, investimentos e aluguéis.
                        As alíquotas e bases de cálculo variam conforme o tipo de renda e a faixa de rendimentos do contribuinte.
                            O IR é fundamental para o financiamento de serviços públicos, como saúde e educação.
                        O pagamento é feito anualmente através da declaração para pessoas físicas e conforme o regime tributário para empresas.
                    </p>
                </section>
            </section>
        </section>

            <!--CDB-->

        <section class="CDB">
            <h2>CDB</h2>
            <section class="topics" id="topics-cdb">
                <section class="oque-e" id="oque-e">
                    <h2>Oque é:</h2>
                    <p>
                        O Certificado de Depósito Bancário (CDB) é uma popular opção de investimento em renda fixa.
                        Funciona como um empréstimo ao banco, com remuneração por meio de juros.
                        Com baixo risco e garantido pelo FGC, oferece rentabilidade atrativa, podendo ter diferentes prazos e tipos de remuneração.
                        É uma escolha acessível e diversificada para quem busca segurança e previsibilidade nos investimentos.
                    </p>
                </section>
                <section class="como-investir" id="como-investir">
                    <h2>como investir:</h2>
                    <p>Investir em CDB é simples e seguro. Siga estes passos:</p>
                    <ul>
                        <li>1. Pesquise e compare opções de CDB.</li>
                        <li>2. Escolha uma instituição financeira confiável.</li>
                        <li>3. Abra uma conta de investimento, se necessário.</li>
                        <li>4. Escolha entre CDB prefixado ou pós-fixado.</li>
                        <li>5. Determine o valor do investimento.</li>
                        <li>6. Realize a compra do CDB.</li>
                        <li>7. Monitore o investimento regularmente.</li>
                        <li>8. No vencimento, resgate ou renove o CDB conforme necessário.</li>
                    </ul>
                    <p>Com planejamento e acompanhamento, o CDB pode ser uma ótima maneira de fazer seu dinheiro render.</p>
                </section>
                <section class="rendimento" id="rendimento">
                    <h2>rendimento</h2>
                    <p>
                        O rendimento do CDI (Certificado de Depósito Interbancário) representa a taxa de juros que os bancos utilizam para emprestar dinheiro entre si.
                        Essa taxa é determinada diariamente com base em fatores como oferta e demanda no mercado financeiro.
                        O CDI serve como referência para diversos investimentos de renda fixa no Brasil, indicando seu potencial de retorno.
                        Investimentos vinculados ao CDI, como CDBs e fundos de investimento, acompanham de perto essa taxa.
                        <strong>Hoje, 06/03/2024 100% do CDI rende 11,15% ao ano.</strong>
                    </p>
                </section>
                <section class="facilidade" id="facilidade">
                    <h2>facilidade</h2>
                    <p>
                        Investir em CDB é fácil devido à sua disponibilidade em bancos e corretoras, diversidade de opções, baixo investimento inicial, facilidade de compra online ou presencial, baixo risco percebido, liquidez e rentabilidade atrativa.
                        No entanto, os investidores devem sempre realizar uma análise cuidadosa e considerar seus objetivos financeiros, pois os investimentos em CDB também têm seus próprios riscos.
                    </p>
                </section>
            </section>
        </section>

        <!--TESOURO DIRETO-->

        <section class="tesouro">
        <h2>Tesouro direto</h2>
            <section class="topics-tesouro" id="topics-tesouro">
                <section class="row">
                    <section class="oque-e" id="oque-e">
                        <h2>oque é:</h2>
                        <p>
                            O Tesouro Direto é um programa do governo brasileiro que permite que pessoas físicas comprem títulos públicos federais pela internet.
                            Esses títulos são uma forma de investimento onde o investidor empresta dinheiro ao governo e recebe juros em troca.
                            O programa oferece uma variedade de títulos com diferentes prazos e formas de remuneração, com baixo custo e liquidez diária.
                            É uma opção segura e acessível para diversificar a carteira de investimentos e planejar o futuro financeiro.
                        </p>
                    </section>
                    <section class="como-investir" id="como-investir">
                        <h2>como investir:</h2>
                        <p>Investir no Tesouro Direto é simples e pode ser feito em algumas etapas:</p>
                        <ul>
                            <li>1.Cadastre-se em uma corretora ou banco habilitado.</li>
                            <li>2.Escolha o título que melhor se adapta aos seus objetivos.</li>
                            <li>3.Defina o valor que deseja investir e realize a compra do título.</li>
                            <li>4.Acompanhe o desempenho do seu investimento.</li>
                            <li>5.No vencimento, resgate o valor investido com os juros acumulados.</li>
                            <li>6.O Tesouro Direto é um investimento de baixo risco.</li>
                        </ul>
                    </section>
                </section>
                <section class="tipos-tesouro" id="tipos-tesouro">
                    <h2>tipos de tesouro:</h2>
                    <p>
                        <strong>Tesouro SELIC:</strong>
                        O Tesouro Selic é um título público federal oferecido pelo Tesouro Nacional através do programa Tesouro Direto.
                        É conhecido por sua remuneração atrelada à taxa Selic, o que o torna uma opção conservadora e com boa liquidez.
                        Investidores podem resgatar seu dinheiro a qualquer momento.
                        É uma escolha popular para formação de reserva de emergência e diversificação de investimentos.
                    </p>
                    <p>
                        <strong>tesouro PREFIXADO:</strong>
                        O Tesouro Prefixado é um tipo de título público oferecido pelo Tesouro Nacional via Tesouro Direto.
                        Sua principal característica é a taxa de juros fixa, determinada no momento da compra, independente das variações do mercado.
                        Com baixo risco e prazo de vencimento definido, é uma opção para investidores que buscam previsibilidade e segurança nos retornos.
                    </p>
                    <p>
                        <strong>tesouro IPCA:</strong>
                        O Tesouro IPCA é um tipo de título público oferecido pelo Tesouro Nacional através do Tesouro Direto.
                        Sua característica principal é a remuneração composta por uma taxa de juros prefixada mais a variação do IPCA, índice oficial de inflação.
                        Isso proporciona proteção contra a inflação e oferece um retorno real ao investidor.
                        Com baixo risco e prazo de vencimento definido, é uma opção para quem busca segurança e preservação do poder de compra ao longo do tempo.
                    </p>
                </section>
                <section class="rendimento" id="rendimento">
                    <h2>rendimento:</h2>
                    <p>
                        <strong>Tesouro SELIC:</strong>
                        O rendimento do Tesouro Selic está diretamente ligado à taxa básica de juros da economia, a taxa Selic.
                        Seu rendimento é atualizado diariamente de acordo com essa taxa, proporcionando liquidez diária ao investidor.
                        Por ser um investimento de baixo risco, emitido pelo governo federal, o Tesouro Selic oferece uma opção segura e previsível para quem busca proteger o capital e obter retornos próximos à variação da taxa Selic.
                    </p>
                    <p>
                        <strong>tesouro PREFIXADO:</strong>
                        O rendimento do Tesouro Prefixado é definido pela taxa de juros fixa estabelecida no momento da compra do título.
                        Essa taxa permanece inalterada ao longo do investimento, garantindo previsibilidade de retorno ao investidor.
                        Com baixo risco e liquidez no vencimento, o Tesouro Prefixado oferece segurança e tranquilidade aos investidores.
                    </p>
                    <p>
                        <strong>tesouro IPCA:</strong>
                        O rendimento do Tesouro IPCA é composto por uma taxa de juros fixa, definida no momento da compra do título, mais a variação do IPCA, índice que mede a inflação.
                        Isso garante ao investidor proteção contra a inflação e um retorno real.
                        Com baixo risco e liquidez no vencimento, o Tesouro IPCA é uma opção interessante para quem busca preservar o poder de compra ao longo do tempo.
                    </p>
                </section>
            </section>
        </section>

        <!--CRIPTOMOEDAS-->

        <section class="cripto" id="cryptocurrencies">
            <h2>criptomoedas</h2>
            <section class="topics-cripto" id="topics-cripto">
                <section class="row" id="row">
                    <section class="oque-e" id="oque-e">
                        <h2>oque é:</h2>
                        <p>
                            Criptomoedas são uma forma de dinheiro digital descentralizado, operando em uma tecnologia chamada blockchain.
                            Elas garantem transações seguras por meio de criptografia e não são controladas por nenhum governo ou autoridade central.
                            Caracterizadas por anonimato, segurança e uso variado, as criptomoedas são conhecidas por sua volatilidade e riscos associados ao investimento.
                        </p>
                    </section>
                    <section class="rendimento" id="rendimento">
                        <h2>rendimento:</h2>
                        <p>
                            O rendimento das criptomoedas é altamente volátil e especulativo, influenciado por diversos fatores.
                            Estes incluem oferta e demanda, adoção e popularidade, desenvolvimentos tecnológicos, regulação governamental e eventos do mercado financeiro.
                            É importante entender os riscos antes de investir, pois os preços podem variar significativamente em curtos períodos de tempo.
                        </p>
                    </section>
                </section>

                <section class="moedas-mais-usadas" id="moedas-mais-usadas">
                    <h2>moedas mais cotadas no mercado:</h2>
                    <p>
                        <strong>bitcoin (BTC):</strong>
                        O Bitcoin é uma moeda digital descentralizada, criada em 2009 por Satoshi Nakamoto.
                        Operando em uma rede peer-to-peer, ele não é controlado por nenhum governo ou instituição central.
                        Com oferta limitada a 21 milhões de unidades, o Bitcoin é deflacionário e utiliza criptografia avançada para garantir segurança e anonimato nas transações.
                        Sua volatilidade e riscos associados ao investimento são características marcantes.
                    </p>
                    <p>
                        <strong>ethereum (ETH):</strong>
                        O Ethereum é uma plataforma de computação distribuída e uma criptomoeda chamada Ether (ETH).
                        Lançada em 2015, ela permite a criação e execução de contratos inteligentes e aplicativos descentralizados (DApps).
                        Flexível e altamente utilizado, o Ethereum está em processo de transição para um sistema de consenso de Prova de Participação (PoS).
                        O Ether é a criptomoeda nativa usada na rede para pagar taxas de transação e recompensar os mineradores.
                    </p>
                </section>
                <section class="como-investir" id="como-investir">
                    <h2>como investir:</h2>
                    <p>Investir em criptomoedas envolve algumas etapas simples:</p>
                    <ul>
                        <li>1. Escolha uma plataforma de negociação confiável.</li>
                        <li>2. Crie uma conta e deposite fundos.</li>
                        <li>3. Escolha as criptomoedas desejadas para investir.</li>
                        <li>4. Execute as negociações na plataforma.</li>
                        <li>5. Armazene suas criptomoedas de forma segura.</li>
                        <li>6. Acompanhe o mercado e faça ajustes conforme necessário.</li>
                    </ul>
                    <p>Lembre-se de pesquisar e entender os riscos antes de investir, e só invista o que você pode perder.</p>
                </section>
            </section>
        </section>

            <!--LCI-->

        <section class="lci">
            <h2>LCI</h2>
            <section class="topics-lci" id="topics-lci">
                <section class="oque-e" id="oque-e">
                    <h2>oque é:</h2>
                    <p>
                        LCI, ou Letra de Crédito Imobiliário, é um título de renda fixa emitido por instituições financeiras para captar recursos destinados ao setor imobiliário.
                        Oferece isenção de Imposto de Renda para pessoas físicas, segurança garantida pelo Fundo Garantidor de Créditos (FGC) e remuneração atrativa ao investidor.
                    </p>
                </section>
                <section class="como investir" id="como-investir">
                    <h2>como investir:</h2>
                    <p>Investir em LCI (Letra de Crédito Imobiliário) é simples:</p>
                    <ul>
                        <li>1. Escolha uma instituição financeira. </li>
                        <li>2. Abra uma conta de investimento. </li>
                        <li>3. Escolha o tipo de LCI que deseja.</li>
                        <li>4. Faça o investimento transferindo os fundos.</li>
                        <li>5. Acompanhe o desempenho do investimento.</li>
                        <li>6. No vencimento, resgate ou renove o investimento.</li>
                    </ul>
                    <p>Lembre-se de analisar os riscos e as condições específicas de cada LCI antes de investir.</p>
                </section>
                <section class="rendimento" id="rendimento">
                    <h2>rendimento:</h2>
                    <p>
                        O rendimento do LCI (Letra de Crédito Imobiliário) é determinado pela taxa de juros acordada no momento da compra do título, podendo ser pré ou pós-fixada.
                        Esse rendimento também é influenciado pelo prazo de vencimento do título.
                        Importante ressaltar que o LCI oferece isenção de Imposto de Renda para pessoas físicas, tornando seu rendimento líquido mais atrativo.
                    </p>
                </section>
            </section>
        </section>

        <!--AÇÕES-->

        <section class="acoes">
            <h2>mercado de ações</h2>
            <section class="topics-acoes" id="topics-acoes">
                <section class="oque-e" id="oque-e">
                    <h2>como investir:</h2>
                    <p>
                        O mercado de ações é onde são negociadas partes de propriedade de empresas, chamadas de ações.
                        Os investidores compram e vendem essas ações em bolsas de valores, como a NYSE e a NASDAQ.
                        Apesar da volatilidade, o mercado de ações tem sido historicamente uma das melhores opções de investimento de longo prazo, proporcionando retornos significativos ao longo do tempo. 
                        No entanto, há riscos envolvidos, e os preços das ações podem flutuar devido a uma variedade de fatores, incluindo notícias econômicas e desempenho financeiro da empresa.
                    </p>
                </section>
                <section class="como-investir" id="como-investir">
                    <h2>como investir:</h2>
                    <p>Para investir no mercado de ações, siga estes passos: </p>
                        <ul>
                            <li>1. Eduque-se sobre o mercado de ações e entenda os riscos e recompensas.</li>
                            <li>2. Defina seus objetivos financeiros e tolerância ao risco.</li>
                            <li>3. Abra uma conta em uma corretora de valores.</li>
                            <li>4. Pesquise e analise as empresas em que pretende investir.</li>
                            <li>5. Diversifique sua carteira de investimentos.</li>
                            <li>6. Escolha entre comprar ações individuais, fundos de investimento ou ETFs.</li>
                            <li>7. Monitore regularmente seus investimentos e faça ajustes conforme necessário.</li>
                            <li>8. Mantenha a disciplina e evite decisões baseadas em emoções.</li>
                        </ul>
                </section>
                <section class="rendimento" id="rendimento">
                    <h2>rendimento:</h2>
                    <p>
                        O rendimento da bolsa de valores é determinado pelo desempenho dos ativos negociados nesse mercado.
                        Esse desempenho pode ser influenciado por uma série de fatores, como notícias econômicas, eventos geopolíticos, desempenho financeiro das empresas e sentimentos do mercado.
                        Os investidores podem obter lucro com a valorização dos ativos, como ações, e também através do recebimento de dividendos.
                        No entanto, é importante ressaltar que o rendimento da bolsa de valores é volátil e pode variar ao longo do tempo.
                        Portanto, é essencial realizar uma análise completa e entender os riscos antes de investir.
                    </p>
                </section>
            </section>
        </section>

        <!--FIIs-->

        <section class="fii">
            <h2>Fundo Imobiliário</h2>
            <section class="topics-fii" id="topics-fii">
                <section class="oque-e" id="oque-e">
                    <h2>oque é:</h2>
                    <p>
                        Um Fundo de Investimento Imobiliário (FII) é um tipo de investimento coletivo que reúne recursos de vários investidores para aplicar em empreendimentos do mercado imobiliário, como edifícios comerciais e shoppings.
                        Os investidores compram cotas do fundo e recebem rendimentos proporcionais aos aluguéis e ganhos de capital dos imóveis.
                        Os FIIs oferecem uma forma acessível e diversificada de investir no mercado imobiliário, proporcionando liquidez através da negociação das cotas na bolsa de valores.
                        No entanto, estão sujeitos a riscos, como vacância dos imóveis e variações nos preços do mercado.
                    </p>
                </section>
                <section class="como-investir" id="como-investir">
                    <h2>como investir:</h2>
                    <p>Para investir em Fundos de Investimento Imobiliário (FIIs):</p>
                        <ul>
                            <li>1. Abra uma conta em uma corretora de valores.</li>
                            <li>2. Transfira os recursos para sua conta na corretora.</li>
                            <li>3. Escolha o FII adequado, considerando histórico, gestão e qualidade dos imóveis.</li>
                            <li>4. Realize a compra das cotas através da plataforma da corretora.</li>
                            <li>5. Acompanhe regularmente o desempenho dos seus investimentos.</li>
                            <li>6. Considere reinvestir os rendimentos para aumentar sua participação no mercado imobiliário.</li>
                        </ul>
                        <p>Lembre-se de analisar cuidadosamente os FIIs, diversificar sua carteira e considerar seus objetivos  financeiros antes de investir.</p>
                </section>
                <section class="rendimento" id="rendimento">
                    <h2>rendimento:</h2>
                    <p>
                        O rendimento de um Fundo de Investimento Imobiliário (FII) vem principalmente de duas fontes: <br>
                        1. **Rendimentos de Aluguel:** Os aluguéis recebidos dos imóveis do fundo são distribuídos aos cotistas como dividendos, proporcionando uma renda periódica. <br> <br>
                        2. **Valorização das Cotas:** As cotas do fundo podem se valorizar ao longo do tempo, refletindo a valorização dos imóveis da carteira do fundo.
                        O rendimento de um FII pode variar e não é garantido, sendo influenciado por fatores como vacância, inadimplência e variações nos preços dos imóveis. Diversificação é importante para mitigar os riscos.
                    </p>
                </section>
            </section>
        </section>
    </section>
</section>

