// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();

// Available color palettes: https://material.io/design/color/
$lifeplan-primary: mat.define-palette(mat.$indigo-palette);
$lifeplan-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$lifeplan-warn: mat.define-palette(mat.$red-palette);
$lifeplan-typography: mat.define-typography-config(
  $font-family: 'Open Sans, Montserrat, sans-serif',
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 24px, 500),
  $subtitle-1: mat.define-typography-level(16px, 20px, 400),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $body-2: mat.define-typography-level(12px, 16px, 500),
  $caption: mat.define-typography-level(10px, 12px, 400)
);

$lifeplan-theme: mat.define-light-theme((
  color: (
    primary: $lifeplan-primary,
    accent: $lifeplan-accent,
    warn: $lifeplan-warn,
    ),
    typography: $lifeplan-typography,
    density: 0
));

@include mat.all-component-themes($lifeplan-theme);

:root {
  --lf-primary-gradient: linear-gradient(to right, #a93fff, #ff008c);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


body.dark {
  --lf-bg-primary: #1f1f1f;
  --lf-bg-secondary: #0f0f0f;
  --lf-text-primary: #eeeeee;
  --lf-text-secondary: #a0a0a0;
  --lf-bg-page: #7a7a7a;
}

body.light {
  --lf-bg-primary: #f7f7f7;
  --lf-bg-secondary: #dddddd;
  --lf-text-primary: #363636;
  --lf-text-secondary: #414141;
  --lf-bg-page: #fffdfd;

}

$lf-bg-primary: var(--lf-bg-primary);
$lf-bg-secondary: var(--lf-bg-secondary);
$lf-text-primary: var(--lf-text-primary);
$lf-text-secondary: var(--lf-text-secondary);
$lf-bg-page: var(--lf-bg-page);
$lf-primary-gradient: var(--lf-primary-gradient);

body {
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  background-color: $lf-bg-primary;
  overflow-y: hidden;
}

.mat-icon {
  color: $lf-text-primary !important;
}

@mixin text-gradient($color) {
  background-image: $color;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.lf-title {
  @include text-gradient($lf-primary-gradient);
}

@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin scroll() {
  overflow-y: auto;

  &::-webkit-scrollbar {
      width: 8px;
    }
  &::-webkit-scrollbar-track {
      background-color: $lf-bg-primary;
    }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
      background-color: $lf-text-secondary;
  }
}

.page {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 100%;

  .page-content {
    @include flex(column, start, center, 0);
    @include scroll();
    padding: 15px 17.5% 25px 17.5%;
    width: 100%;
    height: 100%;
    background-color: $lf-bg-primary;
    overflow-x: hidden;

    h2, h3, h4, h5, h6, p, li, a {
      letter-spacing: 1.8px;
    }

    h2 {
      color: $lf-text-primary;
    }

    h3, p, li{
      color: $lf-text-secondary;
    }
  }
}

.hr {
  border-radius: 5px;
  border: 1px solid $lf-text-secondary;
  width: 100%;
}

.title-container {
  width: 100%;
  .title {
    @include flex(row, center, center, 0);
    margin-bottom: 15px;

    h1 {
      margin-left: 10px;
      font-size: 38px;
      white-space: nowrap;
    }
  }

  .uppercase {
    h1 {
      text-transform: uppercase;
    }
  }

  hr {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .page {
    grid-template-columns: 75px auto;

    .page-content {
      padding: 15px 25px 25px 25px;
    }
  }
}

@media screen and (max-width: 768px){
  .page {
    grid-template-columns: auto;
    grid-template-rows: 50px auto;

    .page-content {
      padding: 15px 25px 25px 25px
    }
  }
}
