    
    <!--TITULO-->

<section class="title" id="title">
    <section class="topics" id="topics">
        <section class="text-title" id="text-title">
            <h1 style="font-size: 35px;">projeto de vida</h1>
        </section>
        <section class="what-is" id="what-is">
            <h2>oque é:</h2>
                <p>
                    Um projeto de vida é um plano estruturado que uma pessoa desenvolve para alcançar seus objetivos a longo prazo em várias áreas da vida, como carreira, educação e relacionamentos.
                    Envolve autoconhecimento, definição de metas, planejamento, flexibilidade e avaliação contínua do progresso.
                    É uma ferramenta poderosa para orientar escolhas e ações, fornecendo propósito e direção na jornada pessoal e profissional
                </p>
        </section>
    </section>
</section>

    <!--AUTO CONHECIMENTO-->

    <section class="self knowledge" id="self knowledge">
        <h1>autoconhecimento</h1>
        <section class="topics" id="topics">
            <section class="what-is" id="what-is">
                <h2>oque é:</h2>
                <p>
                    Autoconhecimento é o processo de entender a si mesmo, incluindo emoções, pensamentos, valores e habilidades.
                    Envolve reconhecer suas forças, fraquezas e motivações, permitindo tomar decisões alinhadas com seus objetivos pessoais.
                    Essa jornada contínua de reflexão é essencial para o desenvolvimento pessoal e relacionamentos saudáveis.
                </p>
            </section>
            <section class="personal-data" id="personal-data">
                <h2>dados pessoais</h2>

                <p>formulario: dados pessoais</p>
            </section>
            <section class="about-ya" id="about-ya">
                <h2>sobre você:</h2>

                <p>fale um pouco sobre você:</p>

                <input type="text">
            </section>
        </section>
    </section>

    <!--APTIDÕES-->
    
    <section class="skills" id="skills">
        <h2>aptidões</h2>
        <section class="topics" id="topics">
            <section class="what-is" id="what-is">
                <h2>oque é:</h2>

                <p>
                    Aptidões são habilidades naturais ou desenvolvidas que uma pessoa possui, permitindo-lhe realizar tarefas eficazmente.
                    Elas abrangem áreas como cognição, habilidades interpessoais, técnicas e físicas, e podem ser aprimoradas com prática.
                    Identificar e cultivar aptidões relevantes é essencial para o sucesso pessoal e profissional.
                </p>
            </section>
            <section class="checkbox-aptidao" id="checkbox-aptidao">
                <h2>defina sua aptidões:</h2>
                
                <input type="checkbox"> <p>Aptidão geral. Capacidade para resolver problemas em geral, de modo rápido e eficiente, para se adaptar a situações novas e para pensar abstratamente.</p>
                <input type="checkbox"> <p>Aptidão verbal/oral. Capacidade para se expressar oralmente, isto é, facilidade para dar explicações sobre fatos e para expor ideias.</p>
                <input type="checkbox"> <p>Redação. Facilidade para expressar suas ideias por escrito</p>
                <input type="checkbox"> <p>Compreensão. Facilidade para compreender textos escritos e exposições orais e para resumir ideias.</p>
                <input type="checkbox"> <p>Vocabulário. Facilidade para dar sinônimo e antônimo de palavras.</p>
                <input type="checkbox"> <p>Gramática. Facilidade para falar e escrever corretamente.</p>
                <input type="checkbox"> <p>Aptidão numérica. Facilidade para lidar com números e estabelecer relações entre eles.</p>
                <input type="checkbox"> <p>Resolução de problemas. Facilidade para resolver problemas de matemática, envolvendo raciocínio.</p>
                <input type="checkbox"> <p>Orientação espacial. Facilidade para compreensão de mapas, para se situar no espaço, localizar uma rua no mapa e encontra-la no respectivo bairro.</p>
                <input type="checkbox"> <p>Percepção de espaço. Perceber que os objetos se encaixam melhor em determinados espaços.</p>
                <input type="checkbox"> <p>Visualização de espaço. Facilidade para resolver problemas tipo labirinto.</p>
                <input type="checkbox"> <p>Aptidão social. Facilidade para se relacionar bem com pessoas em geral.</p>
                <input type="checkbox"> <p>Relações de amizade. Facilidade para fazer e manter amigos.</p>
                <input type="checkbox"> <p>Liderança. Facilidade para identificar os desejos e as necessidades dos outros e para conseguir reunir e convencer pessoas a executarem determinadas tarefas visando determinados objetivos.</p>
                <input type="checkbox"> <p>Memória. Facilidade para se lembrar das coisas, nomes, acontecimentos, informações, etc.</p>
                <input type="checkbox"> <p>Percepção social. Capacidade para perceber características, gestos, atitudes, sentimentos, problemas e necessidades das pessoas.</p>
                <input type="checkbox"> <p>Percepção geral. Capacidade para perceber as coisas, correta e rapidamente, no todo ou em partes.</p>
                <input type="checkbox"> <p>Aptidão físico-motora. Facilidade para mover e controlar o corpo. Por exemplo: dançar, praticar esportes, etc.</p>
                <input type="checkbox"> <p>Habilidade manual. Capacidade para lidar com objetivos pequenos e delicados e para executar pequenos movimentos de modo preciso.</p>
                <input type="checkbox"> <p>Aptidão musical. Capacidade para cantar, tocar instrumentos, compor músicas,etc.</p>
                <input type="checkbox"> <p>Aptidões artísticas/plásticas. Facilidade para desenhar, pintar, esculpir, etc.</p>
                <input type="checkbox"> <p>Capacidade artística/cênica. Facilidade para representar papéis, fazer imitações, humorismo, etc.</p>
                <input type="checkbox"> <p>Organização. Capacidade para planejar, classificar e ordenar.</p>
                <input type="checkbox"> <p>Negócios. Facilidade para fazer boas compras e boas vendas.</p>
                <input type="checkbox"> <p>Mecânica. Capacidade para entender o funcionamento de mecanismos, construir, desmontar e consertar máquinas e aparelhos.</p>
                <input type="checkbox"> <p>Assistencial. Facilidade para ajudar pessoas.</p>
                <input type="checkbox"> <p>Atenção. Facilidade para se concentrar ou para executar trabalhos sem erros.</p>
            </section>
            <section class="skills-use" id="skills-use">
                <br>
                5 das minhas principais aptidões:
                <input type="text">
                Em que atividades posso usá-las?:
                <input type="text">
            </section>
        </section>
    </section>

     <!--sobre mim - relacionamentos - meu futuro - dia a dia-->

    <section class="about-me" id="about me">
        <section class="topics" id="topics">
            <section class="things-about-me" id="things-about-me">
                <h2>minha visão sobre mim</h2>
                <p>como você se descreve no ponto de vista fisico:</p>
                <input type="text">
                <p>como você se descreve no ponto de vista intelectual:</p>
                <input type="text">
                <p>como se descreve no ponto de vista emocional:</p>
                <input type="text">
            </section>
            <section class="like-dislike" id="like-dislike">
                <p>coisas que eu gosto sobre mim: </p>
                <input type="text">
                <p>coisas que eu não gosto sobre mim:</p>
                <input type="text">
            </section>
            <section class="relationships" id="relationships">
                <h2>relacionamentos</h2>
                <p>explique seus relacionamentos entre: </p>
                <br>
                <p>Eu e minha família:</p>
                <input type="text">
                <p>Eu e meus amigos:</p>
                <input type="text">
                <p>Eu e minha escola:</p>
                <input type="text">
                <p>Eu e a sociedade:</p>
                <input type="text">
                <p>não quero falar sobre meus relacionamentos:</p>
                <input type="checkbox">
            </section>
            <section class="my-future" id="my-future">
                <h2>meu futuro</h2>
                <p>quais são suas aspirações:</p>
                <input type="text">
            </section>
            <section class="daily" id="daily">
                <h2>dia a dia:</h2>
                <p>oque você gosta de fazer no dia a dia:</p>
                <input type="text">
                <p>oque você nao gosta de fazer no seu dia a dia: </p>
                <input type="text">
                <p>escreva oque aconteçe no dia a dia: </p>
                <input type="text">
            </section>
        </section>
    </section>

    <!--Você e sua escolha profissional-->

    <section class="professional-choice" id="professional-choice">
        <section class="topics" id="topics">
            <section class="information" id="information">
                <h2>escolha sua profissão</h2>
                <p>
                    Você e sua escolha profissional

                    Escolher a profissão que queremos seguir é quase uma missão impossível. São tantas possibilidades que ficamos certas vezes confusos e sem saber o que fazer. Ficamos ansiosos, com medo de fazer a escolha errada, às vezes seguimos as orientações das pessoas e não o nosso real desejo... São tantas variáveis envolvidas neste processo que é tão dinâmico e tão decisivo em nossa vida! Decidir a carreira que iremos seguir não é fácil, mas isso será necessário, mais cedo ou mais tarde! Assim, para tomarmos uma decisão acertada, satisfatória, é preciso que nós nos conheçamos bem, e foi o que fizemos na parte 1 deste roteiro. Após isso, obter informações que nos auxiliem nesta escolha será fundamental e embasará de maneira mais concreta esse processo. Então, mãos à obra!
                   
                   Você e sua escolha profissional
                   
                   SUA ESCOLHA PROFISSIONAL NÃO É DEFINITIVA: A escolha profissional não é definitiva! Mas muitos jovens não conseguem compreender isso. Nossos sonhos, vontades, desejos, podem sim mudar com o tempo, pois vamos crescendo, vivendo novas experiências que nos dão cada vez mais maturidade para perceber em que somos realmente bons, o que gostamos de fazer, o que fazemos de melhor, qual a ocupação que nos fará feliz. Enfim, ao longo da juventude, que por si só já é uma fase de muitas descobertas e mudanças de percepções, é possível fazer mudanças nas escolhas feitas para a carreira profissional, e há tempo para se construir uma nova caminhada. 
                   NÃO TENHA MEDO DE ERRAR NA ESCOLHA: Uma escolha, quando bem definida e analisada, é uma escolha certa naquele momento. E se você mudar sua opinião sobre ela mais na frente, isso não quer dizer que a escolha foi errada. Pode ser o resultado de mudanças e transformações em sua vida. 
                   NÃO TENHA MEDO DO DESEMPREGO: Muitas vezes, deixamos de escolher certa profissão porque pensamos que há poucas vagas no mercado de trabalho para esta área, ou que os salários pagos são baixos. Isso não deve determinar nossa escolha. Se formos um profissional competente e preparado, certamente teremos muitas oportunidades no mercado de trabalho, inclusive para ganhar bons salários. 
                   NÃO TENHA MEDO DE NÃO SER CAPAZ: Às vezes, deixamos de escolher certa profissão que gostamos porque nós achamos incapazes de sermos bons naquilo que iremos fazer. Temos que confiar em nossa competência, investir em nossa formação e aprimoramento, e assim nos prepararemos para ser os melhores profissionais naquilo que escolhemos fazer. Portanto, confie em você, no seu potencial! 
                   A ESCOLHA É SUA: É importante você buscar informações e orientações com as pessoas à sua volta, mas lembre-se que a escolha final deve ser sua, apenas sua!
                   Escolha profissional
                   dicas
                   
                   No momento de escolha da profissão, reflita sobre as seguintes questões:
                   O que gosto de fazer?
                   Quais minhas maiores habilidades?
                   Que tipo de trabalho me deixa feliz?
                   Que profissão sempre sonhei em seguir?
                   O que eu quero para minha vida?
                   Coisas que eu não gosto de fazer
                   Que profissões se encaixam com meu perfil (minhas características, habilidades, etc)?
                   
                   A escolha profissional deve compor seu Projeto de Vida, e deverá estar alinhada aos seus objetivos de vida, objetivos acadêmicos, etc. Não esqueça de avaliar todo o contexto do seu projeto de vida para entender como sua escolha profissional influenciará as outras áreas de sua vida;
                   Pesquise sobre a profissão que deseja seguir: reúna informações acerca da profissão desejada (o que faz, como é a rotina deste profissional, quais as habilidades e competências necessárias, salários, mercado de trabalho, universidades que oferecem o curso). Avalie se você está disposto a vivenciar o que esta profissão tem a lhe trazer;
                   Busque conversar com alguém que atue na área que você escolheu para seguir carreira, tire dúvidas acerca da profissão, como é o dia-a-dia, as responsabilidades, etc;
                   
                   Não escolha uma profissão apenas porque ela te trará muito dinheiro, fama, sucesso. Além disso, você também precisa gostar do que vai fazer, se sentir bem fazendo. Não adianta ganhar muito dinheiro e ser infeliz com o que faz. É perfeitamente possível descobrir algo que te faça ser uma pessoa realizada, feliz, satisfeita, e que te dê um retorno financeiro que lhe permita viver bem.
                   - Escolheu a profissão errada? Não tenha medo de repensar o que quer seguir! Não há problema em mudar de profissão. Pense e reflita o por quê desistiu daquela profissão, e se estiver convicto de que quer seguir outra profissão, avalie e perceba aquilo que você faz de melhor, quais suas maiores habilidades e competências, o que o deixa feliz, e daí descubra a profissão que se encaixa no seu perfil. Não escolha um curso apenas pela facilidade do vestibular. Ao fazer vestibular, por exemplo, faça o curso que você realmente deseja, mesmo que a concorrência seja alta. Acredite no seu potencial.
                   
                   
                   - Responda as seguintes perguntas: O que farei no dia-a-dia? Com o que irei trabalhar?, Com quem vou trabalhar?, Onde irei trabalhar?, O que irei estudar?, Como é o estilo de vida das pessoas que seguem a profissão que eu escolhi? Qual 。 significado do que eu farei? Serei feliz fazendo isso?, Terei tempo de estar com minha família? Tenho as habilidades e competências necessárias para seguir esta profissão (ou posso aprendê-las)? As respostas destas perguntas te ajudarão a entender como poderá ser sua vida quando optar pelo profissão desejada, ou até te fazer pensar em outra profissão mais adequada ao seu perfil;
                   Tire dúvidas com seus pais, familiares, Educadores, amigos, acerca de sua decisão. A escolha é sua, mas é importante ouvir a opinião das pessoas que te cercam. Elas conhecem suas características, suas habilidades, seu jeito, e poderão te auxiliar no processo de escolha profissional:
                   
                   
                   Não escolha uma profissão só porque ela está "na moda", porque o mercado de trabalho para esta profissão está aquecido;
                   Caso tenha muita dúvida na escolha profissional, procure a ajuda de orientadores profissionais:
                   Ao escolher a universidade onde irá fazer seu curso, lembre- se de que o prestígio da universidade conta muito no mercado de trabalho, mas uma boa formação não depende apenas da faculdade e sim do esforço e dedicação do estudante;
                   Não desista de sua verdadeira vocação porque já existem muitos profissionais formados nessa área. Você deve pensar que não será apenas mais um da área, e sim mais um excelente profissional - sempre há espaço para um profissional competente!
                </p>

            </section>
        </section>
    </section>
















