<section class="app-currency-quotation-wrapper">
  <section class="quotation">
    <section class="show">
      <h2>Cotação escolhida: {{firstCurrency || '-- '}}/{{secondCurrency || ' --'}}</h2>
    </section>
    <section class="choose">
      <app-lp-select *ngFor="let currencyNumber of [1, 2]" [items]="currencies" [selectLabel]="'Cotação ' + currencyNumber + ':'" (onChangeSelected)="onChangeSelect($event, currencyNumber)"></app-lp-select>
    </section>
  </section>

  <section *ngIf="currencyQuotation" class="show-quotation">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef> Propriedade </th>
        <td mat-cell *matCellDef="let element"> {{element.property}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <section *ngIf="currencyQuotation === null">
    <button class="lp-btn" (click)="getCurrencyQuotation('')">Veja em tempo real a cotações de moedas!</button>
  </section>
  <app-module-iterator [modules]="modules"></app-module-iterator>
</section>
