$lp-text-secondary: var(--lp-text-secondary);

.app-currency-quotation-wrapper {
  .quotation > * {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100%;
    width: 100%;
  }

  .quotation {
    width: 100%;

    .show {
      justify-content: center;
      margin-bottom: 30px;
    }
    .choose {
      justify-content: space-between;
      // gap: 25px;
    }
  }

  table {
    width: 100%;

    .mat-column-position {
      text-align: center;
    }
  }

  .lp-btn {
    background-color: $lp-text-secondary;
    border: none;
    padding: 15px 30px;
  }
}
